@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic|Open+Sans+Condensed:300,300italic,700);
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
header,
nav,
footer,
section {
  width: 100%;
}
body {
  color: #ffffff;
  font: normal 0.9em 'Tinos', serif;
  overflow-x: hidden;
}
h2,
h3,
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}
p {
  margin: 0 1em 1em 0;
}
#about p:first-letter {
  font-size: 2em;
  line-height: 1em;
  margin-right: .10em;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: .5em;
}
h3 {
  font-weight: 300;
  font-size: 1.5em;
}
li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 2em;
}
#expLogo {
  max-width: 50%;
  margin-bottom: .5em;
}
header {
  background-image: url("../img/meProfileImg-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 18em;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-align: center;
  padding-top: .15em;
}
header h1 {
  margin: 0 auto 0 auto;
  padding-left: 11%;
  font: normal 2.5em 'Open Sans Condensed', sans-serif;
}
header #headerSocial {
  margin-top: -0.25em;
  padding-left: 10%;
}
header #headerSocial a {
  color: #ffffff;
}
#menuButton {
  display: inline-block;
  position: fixed;
  top: .5em;
  left: .5em;
  border: 0.05em solid #ffffff;
  width: auto;
  padding: 0 .25em .1em;
  background-color: rgba(43, 43, 43, 0.75);
  z-index: 99999;
}
#menuButton a {
  text-decoration: none;
  color: #ffffff;
  font: normal 1em 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
section {
  padding: .25em .75em 3em;
}
#about,
#skills {
  background-color: #343434;
}
#experience,
#contact {
  background-color: #666666;
}
#columnList {
  -webkit-columns: 2 11em;
     -moz-columns: 2 11em;
          columns: 2 11em;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  font-size: .9em;
}
#sectionContainer {
  margin: 3em 1em 0;
}
#aboutContainer {
  margin: 0 1em 0;
}
form {
  padding: 0.375em 1.25em;
}
form input {
  height: 2.5em;
  text-transform: uppercase;
}
form textarea {
  overflow: auto;
  resize: vertical;
}
form input,
form textarea {
  border: 0.0625em solid #343434;
  font: normal 1em 'Open Sans Condensed', sans-serif;
  width: 100%;
  padding: 0.375em 0.75em;
  margin: 0.375em auto;
  border-radius: 0.125em;
  background-color: #eeeeee;
  color: #000000;
}
form .sendButton {
  height: 3em;
  width: auto;
  padding: 0.375em 2.3125em;
  text-transform: uppercase;
}
form .sendButton:hover {
  background-color: #343434;
  color: #eeeeee;
}
footer {
  min-height: 5.625em;
  background-color: #343434;
  color: #666666;
  text-align: center;
  font: normal 0.9em 'Open Sans Condensed', sans-serif;
  padding: 1.75em;
}
footer a {
  text-decoration: none;
  color: #666666;
  font-size: 1.15em;
}
