# keep public split into seperate branch
public

# ignore dummy posts/content during development
content/blog/*

# ignore bfg cleaner
bfg*

# ignore examples in theme
themes/hugo-future-imperfect/exampleSite/
