/* Base tailwind imports used instead of @tailwind so it does not conflict with custom imports */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom components */
/* .grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, #503873, #ff4d4d, #ffb21e, #ffd583);
  z-index: 5;
} */

@import "tailwindcss/utilities";
