// Import Fonts
@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic|Open+Sans+Condensed:300,300italic,700);

// Text Variables
@headerFont: 'Open Sans Condensed', sans-serif;
@bodyFont: 'Tinos', serif;
@logoFont: @headerFont;

// Color Variables
@lightGray: #eee;
@medGray: #666;
@darkGray: #343434;
@white: #fff;
@highlight: #AEEE00;

<<<<<<< HEAD
// Declare Media Query Variables
@med-view: ~"only screen and (min-width: 500px)";

=======
// Media Query
@view-md: ~"only screen and (min-width: 31.25em)"; // 500px / 16px
>>>>>>> refs/remotes/origin/master

// Standar Ground Zero
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

// Main Styling
header, nav, footer, section { width: 100%; }

body {
  color: @white;
  font: normal .9em @bodyFont;
  overflow-x: hidden;
}

h2, h3, h4 {
  font-family: @headerFont;
}

p {
  margin: 0 1em 1em 0;
}

#about p:first-letter {
  font-size: 1.25em;
  line-height: 1em;
  margin-right: .05em;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: .5em;

  @media @med-view {
    margin-top: 1em;
  }
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
}

li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 2em;
}

.expLogo {
  max-width: 50%;
  margin-bottom: .5em;
}

// Header Styling
header {
  background-image: url("../img/compressed/meProfileImg-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 18em;
  background-size: cover;
  background-position: center center;
  color: @white;
  text-align: center;
  padding-top: .15em;
  
  .name-title {
    margin: 0 auto 0 auto;
    padding-left: 11%;
    font: normal 2.5em @logoFont;
    
    @media @med-view {
      display: none;
    }
  }
  
  #headerSocial {
    margin-top: -.25em;
    padding-left: 10%;
    
    a {
      color: rgba(255, 255, 255, 1);
    } 
    
    @media @med-view {
      display: none;
    }
  }
  
}

// Nav Styling
nav {
  
  a {
    color: @white;
    text-decoration: none;
    text-transform: uppercase;
    font: normal 1em @headerFont;
  }
  
  ul {
    text-align: center;
    position: fixed;
    left: -100%;
    width: 100%;
    height: auto;
    z-index: 100;
    transition: .25s ease-in;
    
    li {
      list-style: none;
      margin: 0 auto;
      padding: 1.5em 0;
      border-top: solid 1/16em @medGray;
      background-color: rgba( 43, 43, 43, 0.85 );
    }
    
    li:first-of-type {
      border-top: solid 1/16em @medGray;
    }
    
    li:last-of-type {
      border-bottom: solid 1/16em @medGray;
    }
  }
  
  @media @med-view {
    ul {
      left: auto;
      top: 0;
      position: fixed;
      background-color: rgba(52, 52, 52, 0.25);
      text-align: right;
          
      li {
        display: inline-block;
        background-color: rgba(52, 52, 52, 0);
        padding: .45em .75em;
      }
      
      li:first-of-type {
        border-top: none;
      }

      li:last-of-type {
        border-bottom: none;
      }
    }
  }
  
}

.nav-darken {
  background-color: rgba(52, 52, 52, 0.75);
}

.menuButton {
  display: inline-block;
  position: fixed;
  top: .5em;
  left: .5em;
  border: .05em solid @white;
  width: auto;
  padding: 0 .25em;
  background-color: rgba( 43, 43, 43, 0.75 );
  
  @media @med-view{
    display: none;
  }
}

.toggleMenu {
  left: 0;
}

.hideButton {
  display: none;
}


// Content Section Styling
section {
  padding: .25em .75em 3em;
  
  h2:first-of-type{
    text-align: center;
  }
}

#about, #skills {
  background-color: @darkGray;
}

#experience, #contact {
  background-color: @medGray;
}

#columnList {
  columns: 2 11em;
  column-gap: 2em;
  font-size: .9em;
}

.sectionContainer {
  margin: 3em 1em 0;
}

#aboutContainer {
  margin: 0 1em 0;
}

// Contact Form Styling
form {
  padding: 6/16em 20/16em;
  
  input {
    height: 40/16em;
    text-transform: uppercase;
  }
  
  textarea {
    overflow: auto;
    resize: vertical;
  }
  
  input, textarea {
    border: 1/16em solid @darkGray;
    font: normal 1em @headerFont;
    width: 100%;
    padding: 6/16em 12/16em;
    margin: 6/16em auto;
    border-radius: 2/16em;
    background-color: @lightGray;
    color: darken(@darkGray,30%);
  }
  
  .sendButton{
    height: 3em;
    width: auto;
    padding: 6/16em 37/16em;
    text-transform: uppercase;
  }
  
  .sendButton:hover{
    background-color: @darkGray;
    color: @lightGray;
  }
}

// Footer Styling
footer {
  min-height: 90/16em;
  background-color: @darkGray;
  color: @medGray;
  text-align: center;
  font: normal .9em @headerFont;
  padding: 1.75em;
  
  a {
    text-decoration: none;
    color: @medGray;
    font-size: 1.15em;
  }
}