{{ partial "header" . }}
  {{ partial "navbar" . }}
  <!-- Main -->
  <div id="main">
    <ul class="resume">
      {{ range $.Site.Data.resume.skills.hardskills }}
      <li class="resume">{{ .skill }}</li>
      {{ end }}
    </ul>

    <ul class="resume">
      {{ range $.Site.Data.resume.skills.languages }}
      <li class="resume">{{ .language }}</li>
      {{ end }}
    </ul>

    <ul class="resume">
      {{ range $.Site.Data.resume.skills.software }}
      <li class="resume">{{ . }}</li>
      {{ end }}
    </ul>

    <ul class="resume">
      {{ range $.Site.Data.resume.skills.softskills }}
      <li class="resume">{{ . }}</li>
      {{ end }}
    </ul>
  </div>
  {{ partial "sidebar" . }}
